//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1220px; // можно выбрать свои параметры
$md1: $maxWidthContainer;
$md2: 993px;
$md3: 768px;
$md4: 480px;
$md5: 320px;

$whiteColor: #fff;
$liteVioletColor: #8D81AC;
$liteBlueColor: #848E97;
$blackColor: #848E97;

$animationStyle: 0.3s linear;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<Шрифт по умолчанию>==========================================================================================
$mainFontFamily: "Montserrat", sans-serif;
$secondaryFontFamily: "Lato", sans-serif;
$fontSize: 14px;
//</Шрифт по умолчанию>==========================================================================================
