//< ОБЩИЕ ПАРАМЕТРЫ >===============================================================================================
*, *:after, *:before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
body {
	font-family: $mainFontFamily;
	font-size: $fontSize;
}
.title {
  font-weight: 700;
  font-size: 48px;
  line-height: 50px;
}
//< ОБЩИЕ ПАРАМЕТРЫ >===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
   width: 100%;
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
   max-width: $maxWidthContainer;
   padding: 0 10px;
   margin: 0 auto;
   width: 100%;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

/*--------------------------------------------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}

/*--------------------------------------------------------------------------------------------------*/
