.comments {
  background: url("../img/bg/BG-2.jpg") no-repeat center / cover;
  @include flex-center;
  padding: 50px 0;
  margin-bottom: -1px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 780px;
    background: #645766;
    bottom: 30px;
  }
  &__title {
    font-weight: bold;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: $whiteColor;
    padding-bottom: 90px;
    padding-top: 40px;
    margin: 0 auto;
  }
  &__content-box {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 70px;
    column-gap: 20px;
    margin-bottom: 90px;
  }
  &__item {
    @include flex-center;
    justify-content: flex-start;
    flex-direction: column;
  }
  &__picture-box {
    height: 64px;
    display: flex;
    align-items: center;
  }
  &__text {
    width: 305px;
    font-family: Lato;
    font-weight: bold;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: $whiteColor;
  }
  &__description-text {
    font-family: Lato;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #A291A5;
    width: 80%;
    margin: 0 auto;
  }
}